#html {
  margin-top: 0 !important;
  overflow-x: hidden;
}

#wpadminbar {
  display: none;
}

#html body {
  margin: 0;
  background: #eee;
}

/* Header */

header {
  background: #CC0000;
  height: 80px;
}

header img {
  width: 100%;
  height: 100%;
}

header .navbar {
  height: 80px;
  padding: 0;
}

header .logo {
  padding: 0;
  border-right: 2px solid white;
  max-width: 144px;
}

header .col-lg-8 {
  margin: 0 auto;
}

header .logo-text {
  color: white;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
}

#menu-sidebar li a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #aaa;
  font-weight: 200;
  display: block;
  transition: 0.1s;
  text-transform: uppercase;

}

#menu-sidebar a:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
  color:#aaa;
  font-weight: 100;
}

.sidebar-text {
  margin: 2em 2em -10px 2em;
  color:white;
  opacity: 0.7;
  font-size: 0.9rem;
  padding: 0 8px;
}

.sidenav .closebtn:hover {
  text-decoration: none;
  color: white;
}

#main {
  transition: margin-right .5s;
}

#menu-sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 70%;
}

#searchform {
  margin: 1em 2em;
  width: 77%;
}

#search-input {
  width: 100%;
  border: 1px solid #999;
  padding: 4px;
}

form > div {
  position: relative;
}
form > div > label {
  position: absolute;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  right: 0;
  bottom: -8px;
  padding: 5px 10px;
  opacity: 0.7;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 600px) {
  header .logo-text {
    display: none;
  }
}

.menu-button {
  color: white;
  margin: 1em 50px 1em 0;
  font-size: 0.9rem;
  font-weight: 200;
}

.menu-button span {
  vertical-align: super;
  padding: 0px 5px;
}

.menu-button i {
  font-size: 1.9rem;
}

#sidesocial {
  margin-left: 2em;
  list-style: none;
  padding: 0;
}

#sidesocial img {
  width: 12%;
  margin: 1em 5px;
  opacity: 0.7;
}

#center .navbar-nav {
  line-height: normal;
}


/* Navs */
#navbarNav {
  justify-content: center;
}

@media (max-width: 990px) {
  .content-head nav {
    background: #333334;
  }
  #butiker-tax nav {
    background: #333334;
  }
  .cat-span {
    margin-right: -5px;
  }

  .span-flex {
    display: flex;
    flex-direction: column;
  }

  #butiker-tax .head-tax {
    padding: 0 1em;
  }

  #butik-cat .navbar-toggler {
    background: #333334;
    position: absolute;
    top: 1%;
    width: 100%;
    color:white;
    height: 1.9em;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 650;
    margin: 0 1px 0 1px;
    border-right: 0.1px solid #fff;
  }


   #navbarNav {
    margin-top: 60px;
  }

  #blogg #navbarNav, #category-page #navbarNav {
    margin-top: 35px;
  }

  #butiker-tax #navbarNav {
    margin-top: 34px;
  }

   #center .navbar, #butik-cat .navbar, .content-head .navbar, #butiker-tax .navbar {
    padding: 0;
  }
  #center .navbar-toggler-icon, .content-head .navbar-toggler-icon, #butiker-tax .navbar-toggler-icon {
    width: inherit;
    vertical-align: sub;
  }

  #center .navbar-nav {
    margin-top: -25px;
    line-height: 1.5;
  }

   .navbar-toggler-icon::after {
    content: '';
    position: absolute;
    top: 13px;
    right: 10px;
    border: 6px solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 5px;
    border-top: 6px solid #fff;
  }
}

/* Homepage */
.container-fluid.slideshow.hero {
  background-size: cover;
  text-align: center;
  height: 500px;
  overflow: hidden;
  padding: 0;
}

#slider-image {
  /* width: 45%; */
  width: inherit;
  margin-top: 2em;
  max-height: 220px;
  display: inline;
}

.slider-text {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.hero a {
  padding: 22px 40px;
  background: #CC0000;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
}

.hero a:hover {
  color: white;
  text-decoration: none;
}

.container-fluid.slideshow.hero .slide .owl-controls {
  display: none;
}

.container-fluid.slideshow.hero .slide {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.container-fluid.slideshow.hero .owl-item {
  height: 500px;
}

@media (max-width: 768px) {
  .container-fluid.slideshow.hero {
    height: 300px;
  }
  .container-fluid.slideshow.hero .owl-item {
    height: 300px;
  }
  .container-fluid.slideshow.hero .slide {
    height: 300px;
  }
  #slider-image {
    max-height: 100px;
  }
  .slider-text {
    font-size: 1rem;
  }
  .hero a {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}

.holder {
  color:white;
  text-align: center;
  padding: 10%;
  margin: 1em 0;
  height: 220px;
  width:auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}

.holder hr {
  background: white;
  width: 100%;
}

.holder h2 {
  font-weight: 700;
  font-family: 'Open Sans CB', sans-serif;
  font-size: 34px;
}

#html .home-content {
  background: #F2F2F2;
}

.holder-img {
  height: 390px;
  width: 530px;
  background-position: center;
  background-size: cover;
}

.col-sm-6.bild-puff {
  max-width: 540px;
  padding: 0 5px;
}

.slider.slideshow {
  height: 420px;
  overflow: hidden;
}


.slider.slideshow .owl-controls.clickable .owl-pagination {
  position: absolute;
  bottom: -1%;
  left:47%;
}

.slider.slideshow .owl-controls.clickable .owl-buttons .owl-prev {
  visibility: hidden;
  color:white;
  position: absolute;
  top:40%;
  left: 0;
  padding: 0 5px;
  font-size: 2em;
  background: rgb(49, 48, 50, 0.7);
}

.slider.slideshow .owl-controls.clickable .owl-buttons .owl-next {
  visibility: hidden;
  color:white;
  position: absolute;
  top:40%;
  right: 0;
  padding: 0 5px;
  font-size: 2em;
  background: rgb(49, 48, 50, 0.7);
}

#hover-btn:hover .slider.slideshow .owl-controls.clickable .owl-buttons .owl-prev,
#hover-btn:hover .slider.slideshow .owl-controls.clickable .owl-buttons .owl-next {
  visibility: visible;
  cursor: pointer;
}

.slider.slideshow .owl-controls.clickable .owl-page {
  display: inline-block;
}

.slider.slideshow .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #777777 ;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}

 .owl-theme .owl-controls .owl-page.active span {
  background: none repeat scroll 0 0 #777777;
  opacity: 1;
}

.slider.slideshow .slide {
  background-size: cover;
  height: 390px;
  width: 800px;
  margin: 0 auto;
  background-position: center;
}

.kompl {
  text-align: center;
  margin: 0 auto;
}

.kompl p {
  margin-bottom: 0.5rem;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 18px;
}

.kompl h2 {
  font-size: 34px;
  font-weight: 700;
  font-family: 'Open Sans Condensed Bold', sans-serif;
}

.kompl a {
  color:#3D3D3D;
  text-decoration: underline;
  font-weight: 700;
  padding: 0 4px;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 18px;
}

.kompl a:hover {
  color:#0056B3;
  text-decoration: underline;
}

.kompl ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.kompl li {
  display: inline;
}

.row.text-puff {
  margin: 2em 18%;
}

.text-puff a:hover {
  color: inherit;
  text-decoration: none;
}

.home-content-col .row {
  margin-bottom: 2em;
  margin-top: 2em;
}


@media (max-width: 767px) {
  .row.text-puff {
    margin: 0 0;
  }
  .slider.slideshow {
    height: 200px;
    width: inherit;
  }
  .slider.slideshow .slide {
    height: 170px;
    width: inherit;
  }
  .slider.slideshow .owl-controls.clickable .owl-pagination {
    position: absolute;
    bottom: -5%;
    left:43%;
  }

}

@media (max-width: 768px) {
  .holder-img {
    height: 230px;
    width: inherit;
    margin-bottom: 1.5em;
  }
}

@media (max-width: 1850px) {
  .holder {
    width: auto;
  }
  .holder-img {
    width: auto;
  }

}

@media (min-width:768px) and (max-width: 1200px) {
  .slider.slideshow {
    height: 330px;
  }
  .slider.slideshow .slide {
    height: 300px;
    width: 100%;
  }
  .row.text-puff {
    margin: 0 8%;
  }
}


/* Butiker */
.wrapper {
  background-position: center top -270px;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: inherit;
  min-height: 800px;
}

.wrapper h1 {
  margin-top: 1em;
  color:#666;
  font-weight: 700;
  font-size: 2em;
}

.content-butiker {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 2.5em;
  text-align: center;
  padding: 0 !important;
}

.wrapper .container {
  max-width: 1215px !important;
}

.content-head {
  padding: 2em 0;
  background: #F7FAF8;
}

#shops-row {
  width: 80%;
  margin: 0 auto;
}

#shops-row section {
  position: relative;
  border-top: 2px solid #eee;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  width: 100%;
  padding-right: 0;
}

#shops-row ul {
  list-style: none;
  font-family: 'Open Sans',sans-serif;
  font-weight: 100;
  color: #666666;
  margin-bottom: 1em;
  padding-left: 1.2em;
  text-align: right;
}

#shops-row ul li {
  display: inline;
  color: #666;
  padding: 20px 30px;
  font-size: 13px;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

#shops-row ul li a {
  font-family: 'Open Sans Condensed','Open Sans',sans-serif;
  font-size: 17px;
  font-weight: 700;
  color:#333334;
}

.wrapper #searchform {
  width: 250px;
  margin: 2em auto 0.5em auto;
}

.wrapper #searchform label {
  color: #ccc;
  transform: rotate(90deg);
}

.butik-cat {
  padding: 8px 12px;
  font-size: 1rem;
  line-height: 20px;
  font-family: 'Open Sans Condensed','Open Sans','Lucida Grande',sans-serif;
  background: #333334;
  color: white;
  margin: 0 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.butik-cat:hover {
  text-decoration: none;
  background: #333334;
  color:white;
}

#active-single {
  background: #dddddc;
  color:black;
}

#active-cat .butik-cat {
  background: #dddddc;
  color:black;
}

.butik-cat.active-cat {
  background: #dddddc;
  color:black;
}

#butik-cat {
  margin: 1.5em auto 2.5em auto;
}

#center #butik-cat {
  margin: 1.5em auto 4em auto;
}

.butik-info {
  padding: 5%;
}

.butik-name {
  float:left;
}

.butik-name h5 {
  font-weight: 600;
}

.butik-name a {
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
}

.butik-tel {
  float:right;
}

.butik-tel span {
  font-size: 0.8rem;
  color:#666;
}

@media (max-width:990px) {
  .content-head {
    padding: 3em 1em;
  }
  #shops-row {
    width: 100%;
  }
  #shops-row h5 {
    font-size: 1rem;
    font-weight: 700;
  }
  .butik-cat {
    padding: 5px 8px;
    font-weight: 700;
    font-size: 1rem;
  }
  #shops-row {
    margin: 4em auto;
  }
}

/* Single butik */
#single-butik .owl-next {
  position: absolute;
  top: 50%;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 10px;
  border-radius: 3px;
  cursor: pointer;
}

#single-butik .owl-prev {
  position: absolute;
  top: 50%;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 10px;
  border-radius: 3px;
  cursor: pointer;
}

#single-butik .owl-prev i, #single-butik .owl-next i {
  color: rgba(250, 250, 250, 0.5);
  padding: 1px;
  font-weight: 900;
}

#single-butik {
  overflow: hidden;
  margin: 3em auto;
  height: 400px;
  width: 980px;
}

#single-butik .owl-controls.clickable .owl-buttons .owl-prev,#single-butik .owl-controls.clickable .owl-buttons .owl-next {
  visibility: hidden;
}

#hoverover:hover #single-butik .owl-controls.clickable .owl-buttons .owl-prev, #hoverover:hover #single-butik .owl-controls.clickable .owl-buttons .owl-next {
  visibility: visible;
}

.col-md-12.meta-wrap {
  padding: 1% 10%;
}

.col-md-12.meta-wrap p {
  margin: 0;
  font-size: 0.9rem;
  font-family: 'Open Sans Condensed','Open Sans','Lucida Grande',sans-serif;
  font-weight: 300;
  color:#666;
}

.col-md-12.meta-wrap a {
  font-size: 0.9rem;
  font-family: 'Open Sans Condensed','Open Sans','Lucida Grande',sans-serif;
  font-weight: 300;
  color:#999;
  text-decoration: underline;
}

.col-md-12.meta-wrap .read_div {
  display: block;
  position: absolute;
  width: 950px;
  right: -120%;
  margin-top: 3em;
}

.col-md-12.meta-wrap .read_div p {
  font-family: inherit;
  font-weight: inherit;
}

.col-md-12.meta-wrap .read_div h3 {
  color:black;
  font-size: 1.2rem;
  margin-top: 1em;
}

.col-md-12.meta-wrap .read_div h2 {
  text-align: center;
}

.row.margin-6 {
  margin-right: 6%;
}

#tom {
  position: relative;
  height: 300px;
  display: none;
}

.content-slider {
  height: 400px;
  width: 980px;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  position: relative;
}

.content-slider-text {
  background: rgba(0,0,0,.6);
  text-align: left;
  color:white;
  padding: 25px;
}

.content-slider-text h2 {
  font-size: 2.2em;
  line-height: 1em;
  font-weight: 400;
}
.row.butik-metabox {
  min-height:150px;
}

@media (max-width:1200px) {
  .col-md-12.meta-wrap .read_div {
    right: -125%;
    width: 875px;
    margin-top: 3em;
  }
}

@media (min-width:769px) and (max-width:992px) {
  .col-md-12.meta-wrap .read_div {
    right: -3%;
    width: 100%;
    margin-top: 4.6em;
  }
}

@media (max-width:1150px) {
  #single-butik {
    width: 100%;
    height: 300px;
    margin: 3em auto 3em 0;
  }
}

@media (max-width:767px) {
  #single-butik {
    width: 100%;
    height: 200px;
    margin: 3em auto 3em 0;
  }
  .content-slider {
    height: 150px;
    width: inherit;
  }
  .col-md-12.meta-wrap .read_div {
    right: -2%;
    width: 100%;
    margin-top: 4em;
  }
}

@media (max-width:990px) {
  .col-md-12.meta-wrap .col-lg-4,.col-md-12.meta-wrap .col-lg-2 {
    margin-bottom: 1em;
  }
  #tom {
    height: 500px;
  }
  .col-md-12.meta-wrap .read_div {
    margin-top: 5em;
  }
}


/* single blogg */

.col-md-12.related-wrap {
  padding: 3em;
}

.col-md-12.related-wrap h2 {
  font-size: 1.4em;
  color: #646665;
  font-style: italic;
  font-weight: 650;
  text-transform: none;
}

.col-md-12.related-wrap p {
  font-family: 'Open Sans',Montserrat,'Lucida Grande',sans-serif;
  font-weight: 100;
  font-style: italic;
  color:#666;
}

.col-md-12.related-wrap p a {
  color:#c00;
  font-weight: 400;
  font-style: italic;
}

.col-md-12.related-wrap span {
  font-style: italic;
}
.col-md-12.related-wrap strong {
  font-style: italic;
  color:#000;
}

.col-md-12.related-wrap a:hover {
  text-decoration: none;
}

.related-posts {
  text-align: left;
  margin: 2em 7.4%;
}

.col-md-12.related-wrap hr {
  height: 4px;
  background: #f2f2f2;
  width: 97%;
  border: 0;
}

.related-posts .bild img {
  width: 100%;
  height: 100%;
}

@media (max-width:780px) {
  .related-posts {
    text-align: left;
    margin: 0;
  }
  .col-md-12.related-wrap {
    padding: 2em;
  }
}

/* info pages */

.content-main .col-lg-10, .content-block {
  margin: -35px auto 0 auto;
  padding: 10px 3%;
  text-align: left;;
}

.content-block h2 {
  font-size: 1.5em;
  margin: 0 0 .5em;
  color: #646665;
  text-transform: none;
}

.content-block h3 {
  font-family: 'Open Sans' !important;
  color: #333 !important;
  text-transform: none !important;
  font-size: 1.2em !important;
  font-weight: 700 !important;
}

.content-block p {
  font-family: 'Open Sans',Montserrat,'Lucida Grande',sans-serif;
  font-weight: 100;
  color: #666;
  font-size: 0.85rem;
}

.content-block a {
  color: #c00;
  text-decoration: none;
}

.content-head-holder {
  margin: -50px auto 0 auto;
}

.main-thumbnail img {
  width: 100%;
}

#map {
  width: 100%;
  height: 350px;
  background-color: grey;
  border-radius: 1px;
  margin-top: 4em;
  margin-bottom: 2em;
}

.street-wrap h4, .street-wrap p {
  text-align: left;
  color:#646665;
}

#street-view {
  width: 100%;
  height: 450px;
  background-color: deepskyblue;
  border-radius: 1px;
  margin-top: 1em;
  margin-bottom: 2em
}

.two-columns a {
  color:#c00;
  text-decoration: none;
}

.two-columns {
  text-align: left;
  margin-bottom: 4em;
}

.two-columns p {
  font-family: 'Open Sans',Montserrat,'Lucida Grande',sans-serif;
  font-weight: 100;
  color: #666;
  font-size: 0.85rem;
}

.two-columns strong {
  font-family: 'Open Sans',Montserrat,'Lucida Grande',sans-serif;
  font-weight: 600;
}

.two-columns h1 {
  line-height: 1.3em;
  margin-top: 10px;
  margin-bottom: 20px;
  color:#666;
}

.two-columns h2 {
  font-size: 1.5em;
  margin: 0 0 .5em;
  color: #646665;
  text-transform: none;
}

.two-columns h4 {
  font-size: 1em;
  line-height: 1.2142857142857142em;
  margin: 1.2142857142857142em 0 0;
  color:#666;
}

.two-columns h3 {
  font-family: 'Open Sans' !important;
  color: #333 !important;
  text-transform: none !important;
  font-size: 1.2em;
  font-weight: 700;
}

.from-text {
	border: 0;
	background-color: #eee;
	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 10px;
}

.wpcf7-form {
  text-align: left;
}

.from-textarea {
	border: 0;
  background-color: #eee;
	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 10px;
}

.from-btn {
	width: 140px;
	background: red;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#c00),color-stop(1,red));
	background: -ms-linear-gradient(bottom,#c00,red);
	background: -moz-linear-gradient(center bottom,#c00 0,red 100%);
	background: -o-linear-gradient(red,#c00);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#cc0000', GradientType=0);
	border: 1px solid #c00;
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.8);
	-moz-box-shadow: inset 0 0 6px rgba(255,255,255,.8);
	box-shadow: inset 0 0 6px rgba(255,255,255,.8);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
}

.street-wrap h4 {
  font-weight: 600;
}

.two-columns strong {
  color:#646665;
}

@media (min-width: 767px) {
  .wp-columns-custom h1 {
    width: 130%;
    margin-top: 0;
  }

  .wp-columns-custom p {
    width: 160%;
  }
}

@media (max-width: 790px) {
  .content-extra {
    padding: 0 10px;
    margin-top: 2em;
  }
  .wpcf7-form input {
    width: 100%;
  }
  .wpcf7-form textarea {
    width: 100%;
  }

}

/* Jobs */

.jobs {
  text-align: left;
}

.job {
  padding: 20px;
}

.jobs p, .read_div {
  font-size: 0.9em;
  color: #666;
  font-family: 'Open Sans',Montserrat,'Lucida Grande',sans-serif;
  font-weight: 300;
}

.read_div a {
  color:red;
}

.jobs img {
  width: 120px;
  margin: 1em auto;
}

.jobs h5 {
  font-weight: 300;
  letter-spacing: 1px;
  color: #000;
}

*[id^='readlink'] {
 color: black;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
 -webkit-transition: none !important;
}

*[id^='readlink']:hover {
 color: black;
 text-decoration: none;
}

/* Blogg */
.blogg-bild img {
  width: 980px;
  height: 100%;
}

.blogg-title h2, .blogg-title a {
  color: #646665;
  font-weight: 700;
  text-transform: none;
}

 .blogg-title a:hover {
   text-decoration: none;
 }

.blogg-bild {
  text-align: center;
}

.col-md-12.article {
  text-align: left;
  padding: 3em;
}

.blogg-text  {
  margin: 2em 6.1%;
}

.blogg-text p {
  font-family: 'Open Sans',Montserrat,'Lucida Grande',sans-serif;
  font-weight: 100;
  color: #666;
}

.blogg-meta span {
  color: #666;
  font-weight: 600;
  font-size:12px;
  font-style: normal;
}

.blogg-meta p {
  color:black;
  font-size:12px;
  font-style: italic;
}

.blogg-content a {
  color:#c00;
}

.blogg-content a:hover {
  color:#c00;
  text-decoration: none;
}

.next.page-numbers {
  float: right;
  display: block;
  position: absolute;
  right: 70px;
  bottom: -75px;
  z-index: 99999;
}

.prev.page-numbers {
  float: left;
  display: block;
  position: absolute;
  left: 70px;
  bottom: -75px;
  z-index: 99999;
}

.page-numbers.current {
  display: none;
}

.page-numbers {
  display: none;
}

.pagination-links {
  padding: 0 5%;
  position: relative;
}

.pagination-links a {
  color: #c00;
}

.pagination-links a:hover {
  color: #c00;
  text-decoration: none;
}

#single-post-terms a {
  color:#666;
  cursor: default;
}

#single-post-title {
  margin-top: 1em;
}

#single-post-terms a:hover {
  color:#666;
  text-decoration: none;
}

#blogg {
  background: rgb(255, 255, 255, 1);
}

@media (max-width:1100px) {
  .blogg-bild img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width:768px) {
  .col-md-12.article {
    padding: 1em;
  }
  .blogg-text {
    margin: 2em 0;
  }
  .next.page-numbers {
    right: 0;
    bottom: -50px;
  }

  .prev.page-numbers {
    left: 0;
    bottom: -50px;
  }
}

/* Share buttons */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
}

.resp-sharing-button {
  border-radius: 2px;
  transition: 25ms ease-out;
  padding: 0 2px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: sub;
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}


.resp-sharing-button--pinterest {
  background-color: #bd081c
}


.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}


.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--email {
  background-color: #777
}


.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.fa.fa-star {
  color:#FCD639;
  background: #ccc;
  font-size: 1.5em;
  vertical-align: sub;
  cursor: pointer;
}

/* Sidebar/Widgets */
.sidebar ul {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
  text-align: left;
}

.sidebar li {
  display: block;
}

.widgets-bottom {
  padding: 1.5em;
  margin: 0 auto;
  width: 96%;
}

.widgets-bottom a {
  color:#999;
}

.widgets-bottom a:hover {
  color:#fff;
  text-decoration: none;
}

.widgets-bottom h4 {
  text-transform: uppercase;
  font-weight: 400;
  color: #666;
  font-size: 1em;
  line-height: 1.2142857142857142em;
}

.col-md-12.sidebar-bottom {
  padding: 2em 7em;
}

@media (max-width:768px) {
  .col-md-12.sidebar-bottom {
    padding: 2em 1em;
  }
  .widgets-bottom h4 {
    margin-top: 1em;
  }
}

/* Large-hero template */

.hero-large img {
  width: 100%;
}

.col-lg-12.hero-large {
  padding: 0;
}

.hero-large-menu ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  margin-left: 12%;
}

.hero-large-menu ul li {
  display: inline;
}

.hero-large-menu ul li a {
  color:#CCCCCC;
  padding: 10px;
  text-transform: uppercase;
}

.hero-large-menu ul li a:hover {
  color:#CCCCCC;
  text-decoration: none;
}

.col-lg-9.hero-large-content {
  margin: 2em auto;;
  overflow: hidden;
}

.col-lg-9.hero-large-content img {
  width: auto;
}

.col-lg-9.hero-large-content .col-md-4.banners img {
  width: 100%;
}

.col-lg-9.hero-large-content .img-btn {
  width: 100%;
}

.col-md-12.article-block {
  background: #fff;
  padding: 30px 40px;
  margin: 0 10px 3em 10px;
}

.col-md-12.article-block h1, .col-md-12.article-block h2 {
  color:#666;
  font-family: Montserrat,'Lucida Grande',sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.col-md-12.article-block h1 {
  font-size: 2.4em;
}

.col-md-12.article-block h2 {
  font-size: 1.5em;
}

.col-md-12.article-block h3 {
  font-family: 'Open Sans' !important;
  font-size: 1.2em;
  font-weight: 700;
}

.col-md-12.article-block strong {
  color:#000;
  font-weight: 700;
}

.col-md-12.article-block a {
  color:#c00;
  text-decoration: none;
}

.col-md-12.article-block a:hover {
  color:#c00;
  text-decoration: none;
}

.col-md-12.article-block p, .col-md-12.article-block em {
  font-family: 'Open Sans','Lucida Grande',sans-serif;
  font-weight: 100;
  color:#666;
}

.col-md-8.articles {
  padding-left: 50px;
  padding-right: 17px;
}

.col-md-4.banners {
  padding-right: 50px;
  padding-left: 17px;
}

.col-md-12.large-banner, .col-md-12.wide-banner, .col-xs-6.small-banner {
  margin-bottom: 10px;
}

.col-xs-6.small-banner:nth-child(odd) {
  padding-right: 5px;
}

.col-xs-6.small-banner:nth-child(even) {
  padding-left: 5px;
}

.col-md-8.articles iframe {
  width: 85%;
}


@media(max-width:800px) {
  .row.mobile-hide .col-lg-12.hero-large-menu {
    display: none;
  }
  .col-md-8.articles iframe {
    width: 100%;
  }
}

@media(max-width:767px) {
  .col-md-12.article-block h1 {
    font-size: 1.7em;
  }
  .col-md-8.articles {
    padding: 0;
    overflow: hidden;
  }
  .col-md-12.article-block p, .col-md-12.article-block em {
    font-size: 0.9rem;
  }
  .col-md-4.banners {
    padding: 5px;
  }
  .col-xs-6.small-banner {
    width:50%;
  }
}

/* Deals-page */

.deal-holder {
  margin: 1em;
  height: 344px;
  width: 100%;
  min-width: 193px;
  padding: 10px;
  position: relative;
  background: #fff;
}

/* .col-sm-2.deal-con::after {
	content: "";
	position: absolute;
	bottom: 0px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid;
	border-bottom-color: #ccc;
	left: 50%;
} */

.deal-holder .text p {
  margin: 0;
  color: #3f3f3f;
  font-family: 'Open Sans Condensed','Open Sans',sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
}

.deal-holder .text {
  margin: 1em auto;
}

#deal-hover a:hover {
  text-decoration: none;
}

#deal-hover {
  cursor: pointer;
}

#deals-cover {
  max-width: 100%;
  max-height: 173px;
}

#deals-logo {
  width: 75%;
  margin-top: 2em;
}

.tile-img {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 1000;
  width: 40px;
  height: 40px;
}

.tile-img img {
  width: 100%;
}
/*
#deal .row {
  margin-top: 2em;
  width: 800px;
  background: #999;
} */

#deal ul  {
  list-style: none;
  width: 800px;
}

#deal ul li {
  display: inline;
  margin-right: 5em;
  padding: 10px;
  width: 200px;
}

#deal ul li img {
  width: 100%;
  height: 150px;
}

 #deal {
  display: none;
  margin-top: 2em;
}

/* #content-deal #deal {
  display: block;
} */

.deal-holder.active #deal {
  display: block;
}

/* Footer */

footer {
  background: #CC0000;
  color: white;
  text-align: center;
  min-height: 155px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li, #sidesocial li {
  display: inline;
}

footer .col-lg-8 {
  margin: 10% auto 2% auto;
}

.footer-head {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

footer img {
  width: 5%;
  margin: 1em 5px;
}

footer a {
  color: white;
}

@media (max-width: 550px) {
  footer img {
    width: 10%;
  }
  .footer-head {
    font-size: 15px;
    font-weight: 300;
  }
  footer {
    font-size: small;
  }
  footer .col-lg-8 {
    margin: 20% auto 20% auto;
  }
}

/* mobile nav */
.mobile-nav {
  display: none;
}
@media (max-width: 800px) {
  .mobile-nav {
    display: block;
    background: rgba(213,28,37,.95);
    height: 55px;
    width: 100%;
    text-align: center;
    color: white;
  }

  .mobile-nav ul {
    list-style: none;
    margin: 0 1%;
    line-height: 1.25em;
    padding: 0 1%;
  }

  .mobile-nav ul li {
    display: inline-block;
    width: 18%;
  }

  .mobile-nav ul li a {
    padding: 5px 0 15px 0;
    display: block;
    outline: 0;
    position: relative;
    color:#fff;
  }

  .mobile-nav ul li a span {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 0.6em;
  }

  .mobile-nav ul li img {
    width: 27px;
    height: 27px;
    margin: 5px 0;
    padding: 2px;
  }
}
